IO_LOC "clk" E2;
IO_PORT "clk" PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;

IO_LOC "reset_btn" H11;
IO_PORT "reset_btn" PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;

IO_LOC "dout" K1;
IO_PORT "dout" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
