IO_LOC "clk" E2;
IO_PORT "clk" PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;

IO_LOC "rst" H11;
IO_PORT "rst" PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;

IO_LOC "uart_rx" K2;
IO_PORT "uart_rx" PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;

IO_LOC "pwm_out" K1;
IO_PORT "pwm_out" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
